body{
	font-family: Arial, sans-serif;
}
nav{
	width: 100%;
	height: 60px;
	background: #344051;
}

.logo{
	color: #fff;
	font-size: 25px;
	line-height: 60px;
	padding-left: 388px;
	float: left;
}

.menu{
	float: left;
	padding-left: 432px;
}

.menu li{
	float: left;
	line-height: 60px;
	color: #fff;
	margin-right: 40px;
	font-size: 16px;
	text-transform: uppercase;
}

.main{
	width: 100%;
	height: calc(100% - 60px);
	background: url(../img/boy.png) 90% 100%/auto 85% no-repeat , url(../img/bg.jpg) center/cover no-repeat;

}

.title__container{
	float: left;
	margin: 430px 0px 0px 404px;
	color: #2c384a;
	text-align: center;
}

.title__container h1{
	font-size: 60px;
	font-weight: bold;

}

.title__container h4{
	margin-top: 40px;
	font-size: 22px;
	color: #79818d;
}

.title__container input{
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: #6d7682;
	font-size: 13px;
	padding: 0px 16px;
	margin: 58px 28px 0px 14px;

}

.info{
	height: 715px;
	width: 100%;
	box-shadow: 0px 0px 10px #000;
	background: url(../img/boy_small.png) no-repeat 50% 30%;

}



.title__container1 h2{
	margin-bottom: 300px;
	text-align: center;
	background: url(../img/cherta.jpg) no-repeat calc(100% - 50%) 100%/25% ; 
	font-size: 25px;
	font-weight: bold;
	color: #2c384a;


} 
	

.title__container1 h3{
	margin: 50px 0px 0px 550px;
	float: left;
	color: #2c384a;
	text-align: center;
	padding-right: 0px 25px; 

}

.title__container1 input{
	margin: 250px 0px 0px -480px;
	margin-bottom: 70px;
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: #6d7682;
	font-size: 20px;
	background: url(../img/icon.jpg) no-repeat left;
	padding-left: 15px;
	
}

.info1{
height: 520px;
	width: 100%;
	background: url(../img/gromofon.jpg) no-repeat calc(100% - 21%) , url(../img/rocket.jpg) no-repeat calc(100% - 39.1%) , url(../img/znak.jpg) no-repeat calc(100% - 54%) , url(../img/pc.jpg) no-repeat calc(100% - 73.4%) , url(../img/bg3.jpg) no-repeat
}

.info1 h2{
	text-align: center;
	height: 80px;
	background: url(../img/cherta2.jpg) no-repeat calc(100% - 50%) 100%/5% ; 
	font-size: 25px;
	font-weight: bold;
	color: #2c384a;
	
}

.info1 h3{
	font-weight: bold;
	margin: 220px 0px 0px 477px;
	color: #cf7600
	

}

.info h4{
	float: left;
	text-align: center;
	margin: 0px 0px 0px 405px;

}

.info2 h3{
	font-weight: bold;
	margin: -220px 0px 0px 840px;
	color: #cf7600

}

.info2 h4{
	float: left;
	text-align: center;
	margin: 0px 0px 0px 160px;
}

.info3 h3{
	font-weight: bold;
	margin: -12px 0px 0px 1090px;
	color: #cf7600

}

.info3 h4{
	float: left;
	text-align: center;
	margin: 0px 0px 0px 100px;

}

.info4 h3{
	font-weight: bold;
	margin: 0px 0px 0px 1450px;
	color: #cf7600
}

.info4 h4{
	float: left;
	text-align: center;
	margin: 0px 0px 0px 100px;
}

.cases{
	height: 1200px;
	width: 100%;
	background: url(../img/foto.jpg) no-repeat calc(100% - 105%) 100% , url(../img/cherta2.jpg) no-repeat calc(100% - 50%) 25%; 
} 

.cases h2{
	float: left;
	margin:150px 0px 0px 914px;
    text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: #2c384a;

}

.cases h4{
    margin: 60px 0px 0px 518px;

}

.cases1 h3{
	float: left;
	margin: 700px 0px 0px -975px;
	font-size: 20px;
	font-weight: bold;
}

.cases1 h4{
	float: left;
	margin: 750px 0px 0px -975px;
	

}

.cases2 h3{
	float: left;
	margin: 800px 0px 0px -975px;
	font-size: 20px;
	font-weight: bold;
}

.cases2 h4{
	margin: 850px 0px 0px -975px;
}

.cases2 input{
	margin: 1170px 0px 0px -1255px;
	height: 40px;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: #63b5ae;
	font-size: 20px;
	padding: 5px 5px 5px 5px;

}

.cases3 h3{
	float: left;
	margin: -235px 0px 0px 700px;
	font-size: 20px;
	font-weight: bold;
}

.cases3 h4{
	text-align: center;
	float: left;
	margin: -205px 0px 0px 650px;
}

.price {
 	height: 750px;
	width: 100%;
	background: url(../img/poditog.jpg) no-repeat calc(100% - 50%) 60%;

}

.price h2{
	float: left;
	margin:150px 0px 0px 844px;
    text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: #2c384a;
}

.price1 h3{
	float: left;
	margin: 225px 0px 0px -460px;
	font-size: 20px;
	font-weight: bold;
}

.price1 select{
	float: left;
	margin: 265px 0px 0px -450px;

}

.price2 h3{
	float: left;
	margin: 295px 0px 0px -460px;
	font-size: 20px;
	font-weight: bold;
}

.price2 select{
	float: left;
	margin: 330px 0px 0px -450px;

}

.price3 h3{
	float: left;
	margin: 365px 0px 0px -460px;
	font-size: 20px;
	font-weight: bold;
}

.price3 select{
	float: left;
	margin: 395px 0px 0px -450px;

}

.price4 h3{
    float: left;
	margin: 465px 0px 0px -460px;
	font-size: 18px;
	font-weight: bold;
}

.statistic{
    height: 1050px;
	width: 100%;
	background: url(../img/kub.jpg) no-repeat calc(100% - 25%) 78% , url(../img/gal.jpg) no-repeat calc(100% - 40%) 78% , url(../img/skob.jpg) no-repeat calc(100% - 55%) 78% , url(../img/smile.jpg) no-repeat calc(100% - 70%) 78% , url(../img/cherta3.jpg) no-repeat calc(100% - 50%) 68% , url(../img/bg4.jpg) no-repeat calc(100% - 50%) 100%;
}

.statistic h2{
 float: left;
	margin: 660px 0px 0px -240px;
	font-size: 20px;
	font-weight: bold;

}

.statistic2 h2{
	text-align: center;
	float: left;
margin: -200px 0px 0px 555px;
	
}

.statistic2 h3{
text-align: center;
	float: left;
margin: -150px 0px 0px 475px;

}

.statistic3 h2{
 float: left;
	margin: -200px 0px 0px 820px;
	font-size: 25px;
	font-weight: bold;
}

.statistic3 h3{
text-align: center;
	float: left;
margin: -150px 0px 0px 780px;
font-size: 18px;

}

.statistic4 h2{
 float: left;
	margin: -200px 0px 0px 1110px;
	font-size: 25px;
	font-weight: bold;
}

.statistic4 h3{
text-align: center;
	float: left;
margin: -150px 0px 0px 1020px;
font-size: 18px;

}

.statistic5 h2{
 float: left;
	margin: -200px 0px 0px 1395px;
	font-size: 25px;
	font-weight: bold;
}

.statistic5 h3{
text-align: center;
	float: left;
margin: -150px 0px 0px 1325px;
font-size: 18px;

}

.otziv {
height: 650px;
	width: 100%;
	background: url(../img/gdot.jpg) no-repeat calc(100% - 50%) 90%  , url(../img/gdot.jpg) no-repeat calc(100% - 51%) 90%  , url(../img/odot.jpg) no-repeat calc(100% - 52%) 90% , url(../img/foto1.png) no-repeat calc(100% - 50%) , url(../img/cherta2.jpg) no-repeat calc(100% - 50%) 35%;

}

.otziv h2{
float: left;
	margin:150px 0px 0px 884px;
    text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: #2c384a;

}

.otziv h3{
	text-align: center;
float: left;
	margin: 255px 0px 0px 500px;
	font-size: 18px;
	
}

.otziv2 h3{
text-align: center;
float: left;
	margin: -130px 0px 0px 780px;
	font-size: 18px;
	font-weight: bold;

}

.contact {
height: 1350px;
	width: 100%;
	background: url(../img/truba.jpg) no-repeat calc(100% - 31%) 27% , url(../img/convert.jpg) no-repeat calc(100% - 50%) 27%, url(../img/geo.jpg) no-repeat calc(100% - 69.6%) 27% , url(../img/cherta2.jpg) no-repeat calc(100% - 50%) 16% , url(../img/bg5.jpg) no-repeat;

}

.contact h2{
float: left;
	margin:150px 0px 0px 844px;
    text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: #ffffff;

}

.contact h3{
	text-align: center;
float: left;
	margin: 80px 0px 0px 720px;
	font-size: 18px;
	color: #ffffff;
}

.contact2 h3{
text-align: center;
float: left;
	margin: -950px 0px 0px 500px;
	font-size: 18px;
	color: #ffffff;
	
}

.contact3 h3{
text-align: center;
float: left;
	margin: -950px 0px 0px 850px;
	font-size: 18px;
	color: #ffffff;

}

.contact4 h3{
text-align: center;
float: left;
	margin: -950px 0px 0px 1230px;
	font-size: 18px;
	color: #ffffff;
}

.contact5 h3{
	margin: -900px 0px 0px 800px;
	font-size: 21px;
	color: #ffffff;

}

input{
	margin: 20px 0px 0px 800px;
	font-size: 21px;
	color: #63b5ae;
}

.map {
	margin: 1760px 0px 0px 0px;
	height: 350px;
background: url(../img/map.jpg);
}

.map h3{
	margin: -250px 0px 0px 850px;
	margin-top: 250px;
}

.final {
width: 100%;
	height: 60px;
	background: #344051;
}

.final h3{
margin: 0px 0px 0px 700px;
	font-size: 21px;
	color: #ffffff;
}

