div{
	font-size: 20px;
}
span{
	color: rgb(255, 180, 5);
}

.text{       (приоритет на то,что ниже)
	color: red;
}

[custom_data=""]{
	color: blue;      (important-когда нет возможности обратьться к исходной таблице)
}

span.text{
    color: green;
}

#text_span{
	color: yellow;
}

.block p{
	font-size: 30px;
}
.block>p{
	font-size: 10px;
}